*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 32px 0;
    justify-content: center;
    display: flex;
    background-color: rgb(4, 90, 43);
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

body{
    background-color: #86ce76;
}

.container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

form{
    padding: 24px 0;
    text-align: center;
    border-bottom: rgb(4, 90, 43) solid 6px;
}

input, button{
    font-size: 20px;
    padding: 8px;
}

button{
    cursor: pointer;
}

ul{
    font-size: 20px;
    padding: 25px 25px;
    justify-content:

}

ul li{
    padding-bottom: 10px;
}

ul li:hover {
    color: red;
    cursor: pointer;
    font-style: italic;
}




